
body{
  background-color: rgb(0, 0, 0);
  color: $mainColor;
  // for popup noscroll 
}

// footer to bottom
.body , html{
  scroll-behavior: smooth;
  height: 100%; 
  min-height: 100vh;
}
.header , footer {
  flex-grow: 0;
}
.main{
  max-width: 1500px;
  margin: 0 auto;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.footer-to-bottom{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: rgb(0, 0, 0); 
}

html , body{
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

* {
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: inherit;
}
 

  h1,h2,h3,h4{
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
  }

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

p{
  margin-top: 0;
}
.title{
  font-size: 17px;
  font-family: $accentFont;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: none;
  @include sm{
    font-size: 32px;
  }
  @include md{
    font-size: 38px;
    margin-bottom: 20px;
  }
  @include xl{
    font-size: 48px;
    margin-bottom: 30px;
  }
}
.sub-title{
  text-align: center;
  font-family: $secondFont;
  color: $accentColor;
  font-size: 9px;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  @include md{
    font-size: 12px;
  }
}
.line{
  width: 1px;
  height: 30px;
  background: #fff;
  opacity: .3;
  margin: 20px auto 10px;
  @include md{
    height: 86px;
    margin: 20px auto 40px;
  }
}
.picture-webp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.figure-webp {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: calc(100% * 1);
}
  
 
 