.blog{
    &__wrapper{
        display: flex;
        padding-top: 55px;
        flex-direction: column-reverse;
        @include lg{
            flex-direction: row;
        }
    }
    &__card{
        background: #fff;
        cursor: pointer;
        display: block;
        margin-bottom: 23px;
        border-radius: 2.5px;
        overflow: hidden;
        color: #000;
        @include md{
            border-radius: 4.5px;
        }
        @include lg{
            width: calc(50% - 36px);
            margin: 0 18px 22px;
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
    }
    &__wrap{
        width: 100%;
        @include xl{
            margin: 0 18px;
        }
        .work__card{
            @include lg{
                width: 100%;
                margin: 0 0 55px;
            }
        }
    }
    &__img{ 
        .figure-webp{
            padding-bottom: calc(330% / 558 * 100);
        }
        overflow: hidden;
        img{
            width: auto;
            transition: .4s;
        }
    }
    &__context{
        padding: 15px;
        padding-bottom: 20px;
        @include sm{
            padding: 25px 25px;
            padding-bottom: 35px;
        }
        @include md{
            min-height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__title{
        font-family: $accentFont;
        text-transform: none;
        text-align: left;
        font-size: 11.5px;
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
        margin-bottom: 14px;
        @include sm{
            font-size: 16px;
            margin-bottom: 20px;
        }
        @include md{
            font-size: 18px;
            margin-bottom: 25px;
        }
        @include xxl{
            font-size: 21px;
        }
    }
    &__data{
        font-family: $secondFont;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;  
        opacity: .6;
        @include md{
            font-size: 14px;
        }
    }
}