.hero{
    background: url('../images/bg-hero.png');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
    font-family: $accentFont;
    .container{
        padding: 0 20px;
        position: relative;
    }
    &__title{
        font-size: 19px;
        margin: 0;
        margin-bottom: 50px;
        line-height: 1.2;
        text-transform: none;

        @include md{
            font-size: 28px;
            margin-bottom: 40px;
        }
        @include xl{
            font-size: 42px;
            margin-bottom: 40px;
        }
        @include xxl {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        span {
            display: inline;
            
            @include xxl {
                width: 0%;
                overflow: hidden;
                white-space: nowrap;
                will-change: width;
    
                &:nth-of-type(1) {
                    animation: textAppear 2s linear 0s ; 
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) {
                    animation: textAppear 2s linear 2s ; 
                    animation-fill-mode: forwards;
                }
            }
        }

    }
    &__wrapper{
        padding: 80px 0 70px;
        max-width: 1060px;
        margin: 0 auto;
        @include md{
            padding: 150px 30px;
        }
        @include xl{
            padding: 200px 30px 190px;
            margin-bottom: 65px;
        }
    }
    ul{
        padding: 0;
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
        @include md{
            font-size: 18px;
        }
        @include xl{
            text-align: left;
            display: flex;
            justify-content: center;
        }
    }
    li{
        margin: 0 20px 0 10px;
        padding: 0 5px;
        list-style: none;
        @include xl{
            list-style-type: disc;
            &:first-child{
                list-style: none;
            }
        }
        @include xxl{
            padding: 0 10px;
        }
    }
    &__social{
        position: absolute;
        left: 20px;
        bottom: 0;
        a{
            display: block;
            margin-top: 25px;
            &:hover{
                path{
                    fill: rgba($color: #ffffff, $alpha: 1);
                }
            }
        }
        svg{
            width: 18px;
            height: 18px; 
        }
        path{
            transition: .3s;
            fill: rgba($color: #ffffff, $alpha: .3);
        }
    }
    &__location{
        position: absolute;
        top: 150px;
        left: -15px;
        opacity: 0.3;
        transform: rotate(-90deg);
        font-size: 12px;
        font-weight: 400;
        font-family: $mainFont;
        &_right{
            left: auto;
            right: 0px;
        }
        p{
            margin: 0;
        }
    }
    &__button{
        position: fixed;
        right: 20px;
        z-index: 10;
        top: 65%;
        width: 60px;
        height: 60px;
        border: 1px solid $accentColor;
        background: $accentColor;
        text-align: center;
        font-size: 12px;
        color: #000;
        transition: .3s;
        font-family: $accentFont;
        font-weight: 700;
        a{
            display: block;
            padding: 15px 5px;
        }
        &:hover{
            background: transparent;
            color: $accentColor;
        }
    }
    .hero__location, .hero__social{
        display: none;
        @include lg{
            display: block;
        }
    }
}
.hero__button{
    display: none;
        @include xl{
            display: block;
        }
}

@keyframes textAppear { 
    from { width: 0; opacity: 0; } 
    to { width: 100%; opacity: 1; }
} 