$nav-btn-color:#D2EB67;
$nav-bgc:rgba(0, 0, 0, 0.322);
$nav-hover:$accentColor;



.nav {
    color: $mainColor;
    width: 100%;

    @include xl {
        width: auto;
        display: flex;
        justify-self: center;
    }

    &-menu__wrap {
        text-align: center;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
        padding: 0;
        margin: 0;
        overflow: hidden;

        @include xl {
            display: flex;
            align-items: center;
            opacity: 1;
            pointer-events: all;
            max-height: 100%;
        }
        li{
            font-size: 28px;
            background-color: $nav-bgc;
            transform: translateX(+100%);
            margin: 10px 0; 
            display: block;
            transition: 0.5s;
            
            a{
                padding: 10px 0px;
                text-transform: uppercase;
                width: 100%;
                display: block;
            }
            &:nth-child(2n) {
                transform: translateX(-100%);
            } 
            @include xl {
                font-size: 12px;
                margin: 0 5px; 
                background-color: transparent;
                transform: none; 
                a{
                    padding: 15px;
                } 
                &:nth-child(2n) {
                    transform: none;
                }
            }
            @include xxl{
                margin: 0 10px; 
            }
            &:hover {
                background-color: $nav-hover;
                transition: 0.2s;
                color: #222;
            }
            &:last-child{
                a{
                    border: 0.5px solid #fff;
                    padding: 11px 25px !important;
                }
            }
        }
    }

    
    &__btn {
        background-color: transparent;
        border: none;
        width: 50px;
        height: 50px;
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        animation: rev .5s ease;

        @include xl {
            display: none;
        }

        &_row {
            background-color: $nav-btn-color;
            height: 8px;
            width: 8px;
            transition: 0.2s;
            border-radius: 50%;
            position: absolute;

        }
        &_row.first {
            top: 13px;
        }
        &_row.third {
            bottom: 13px;
        }
        &_row.second {
            left: 13px;
            opacity: 0;
        }
        &_row.four {
            right: 13px;
            opacity: 0;
        }

        &__row+&__row {
            margin-top: 7px;
        }
    }
}
.nav__btn.active {
    .nav__btn_row.second {
        left: 13px;
        opacity: 1;
    }
    .nav__btn_row.four {
        right: 13px;
        opacity: 1;
    }
}
.nav__btn.active {
    animation: anim .5s ease;
}
@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(-90deg);
    }
  }
  @keyframes rev {
    0% {
        transform: rotate(-90deg);
    }
    
    100% {
        transform: rotate(-180deg);
    }
  }
.nav-open {
    @include nav-mobile {
        .nav {
            width: 100%;

            &-menu__wrap {
                height: auto;
                opacity: 1;
                pointer-events: all;
                width: 100%;
                z-index: 10;

                max-height: 100vh;
            }

            .menu-item {
                transform: none;
            }

            &__btn {

                &__row {
                    margin: 0 !important;
                }

                &__row:nth-child(1) {
                    transform: translateY(100%) rotate(-45deg);
                }

                &__row:nth-child(2) {

                    opacity: 0;
                    width: 0;
                }

                &__row:nth-child(3) {
                    transform: translateY(-100%) rotate(45deg);
                }
            }
        }
    }
}